<app-title></app-title>
<div class="articles">
    <div class="articles__main">
        <app-big-card 
            id="1"
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRx_7GtxY9Gm3dfRpJdfxsWIEACrUG6j6Kbtg&s"
            cardTitle="Dart Vader contrata nvos Devs"
            cardDescription="Dart Vader contrata nvos Devs Dart Vader contrata nvos Devs Dart Vader contrata nvos Devs Dart Vader contrata nvos Devs Dart Vader contrata nvos Devs"
            ></app-big-card>
    </div>
    <div class="aritcles__others">
        <app-small-card 
            id="2"
            cardTitle="Yoda Contrata novos Devs Angular." 
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZvxrN7oLay_lhpvrNZnbdZBK7LV9xt1WgdQ&s">
        </app-small-card>
        <app-small-card 
            id="3"
            cardTitle="Sky Contrata novos Devs Angular." 
            photoCover="https://pm1.aminoapps.com/5924/737bd84c6fb114bd64dd1910e91b3894f36aacb8_00.jpg">
        </app-small-card>
    </div>
</div>